.root {
  position: relative;
}

.cartText {
  font-size: 1.5em;
}

.numOfItems {
  border-radius: 50%;
  background-color: #008000;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 60%;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
