.root {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-basis: calc(33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  display: block;
  text-decoration: none;
}

@media (max-width: 900px) {
  .root {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .root {
    flex-basis: 100%;
  }
}

.root:hover {
  border: 1px solid #888;
}

.image {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 600;
  font-size: 1.2em;
  color: #000;
}

.price {
  color: #008000;
  font-size: 1.1em;
  font-weight: normal;
  margin-left: auto;
}
