.root {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  display: block;
  text-decoration: none;
}

.root:hover{
  border: 1px solid #888;
}

.image {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 600;
  font-size: 1.2em;
  color: #000;
}

.price {
  color: #008000;
  font-size: 1.1em;
  font-weight: normal;
  margin-left: auto;
}
