.root {
  width: 80%;
  margin: 0 auto;
}

.productRoot {
  display: flex;
}

.imageContainer {
  width: 40%;
}

.image {
  width: 100%;
}

.right {
  width: 60%;
}

.name {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 15px;
  line-height: 1.4;
  max-width: 600px;
}

.priceAddToCart {
  display: flex;
  align-items: center;
}

.price {
  font-size: 1.2em;
  color: #008000;
  margin-left: 20px;
}
